{% extends 'main_app/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <div class="d-flex justify-content-between">
        <h2>Создать пост</h2>
    </div>
{% endblock page_header %}

{% block content %}
    <div>
        <form action="{% url 'main_app:new_post' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button class="btn btn-primary" type="submit">Добавить</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock content %}